.Icon {
  &--logo {
    width: 1.75rem;
    height: auto;

    &-size-large {
      width: 6rem;
    }

    &-size-medium {
      width: 4rem;
    }

    &-size-small {
      width: 1.25rem;
    }
  }

  &--menu {
    width: 1.75rem;
    height: auto;

    &-size-large {
      width: 6rem;
    }

    &-size-medium {
      width: 4rem;
    }

    &-size-small {
      width: 1.25rem;
    }
  }

  &--group1 {
    top: -65%;
    left: -480%;
  }

  &--group2 {
    top: -50%;
    left: -290%;
  }

  &--group3 {
    top: -50%;
    left: -220%;
  }

  &--eye {
    &-size-small {
      width: 1.5rem;
    }
  }
}
