.AppView {
  grid-template-columns: 100%;

  @media (min-width: 768px) {
    grid-template-columns: 15rem minmax(0, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: 18rem minmax(0, 1fr);
  }
}
